In [1]:
import pandas as pd
from tqdm import tqdm, trange

text = pd.read_csv("text.csv")

In [2]:
text.head()

   vol  page line                      text
0  V01  P001  L00                        桐壺
1  V01  P001  L01    いづれの御時にか女御更衣あまたさふらひ給ける
2  V01  P001  L02     なかに。いとやむごとなききはにはあらぬが。
3  V01  P001  L03     すぐれてときめき給ふありけりはじめよりわれ
4  V01  P001  L04  はと思ひあがり給へる御かた＋＋＄。めざましきもの

In [3]:
poem_list = []

In [4]:
for i in tqdm(range(len(text))):    
    if (str(text.iloc[i,3])[0:2] == '△△'):
        poem_list.append(True)
    else:
        poem_list.append(False)

100%|██████████| 79714/79714 [00:00<00:00, 104556.02it/s]

In [5]:
j = 0
while j < len(poem_list):
    if (poem_list[j]):
        poem_list[j + 1] = True
        j += 2
    else:
        j += 1

In [6]:
text['is_poem'] = poem_list

In [7]:
text.to_csv('text_poem.csv')

In [10]:
text.head()

                       text  is_poem
0                        桐壺    False
1    いづれの御時にか女御更衣あまたさふらひ給ける    False
2     なかに。いとやむごとなききはにはあらぬが。    False
3     すぐれてときめき給ふありけりはじめよりわれ    False
4  はと思ひあがり給へる御かた＋＋＄。めざましきもの    False

In [9]:
#drop column
text.drop(['vol', 'page', 'line'], axis=1, inplace = True)

In [11]:
poem = pd.DataFrame()

In [12]:
poem = text[text['is_poem'] == True]

In [24]:
poem.head()

Empty DataFrame
Columns: []
Index: []

In [15]:
poem.drop(['is_poem'], axis = 1, inplace = True)

/home/tarin/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [20]:
poem_list = []
for i in tqdm(range(len(poem))):    
    if (str(poem.iloc[i,0])[0:2] == '△△'):
        poem_list.append(str(poem.iloc[i,0]) + str(poem.iloc[(i + 1),0]))

100%|██████████| 3180/3180 [00:00<00:00, 40140.62it/s]

In [22]:
len(poem_list)

1596

In [23]:
poem = pd.DataFrame()

In [25]:
poem['poem'] = poem_list

In [26]:
poem.to_csv('poem.csv', index = False)